.encabezado{
    font-size: 16px;
    text-align: center;
    color:blue;
    padding: 10px;
    margin-bottom: 15px;
    background-color:rgb(225, 212, 72);
    grid-column: 1/13; 
}

.contenedor{
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 16px;
    padding: 16px;
}

.tarjeta{
    grid-column: span 4;
    align-items: center;
    background-color: darkblue;
    border-radius: 8px;
    color: white;
    display: flex;
    flex-direction: column;
    grid-column: span 4;
    text-align: center;
    padding: 10px;
}

.pie{
    font-size: 20px;
    color:blue;
    margin-bottom: 15px;
    background-color:rgb(225, 212, 72);
    grid-column: 1/13;
    text-align: center;
}

.btn{
    background-color: rgb(225, 212, 72);
    color: rgb(0, 0, 0);
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}